.maincontainer{
    width: 400px;
    height: 150px;
    background-color: rgb(80, 241, 107);
    margin-top: 150px;
    margin-left: 50%;
}

.AllButton{
    border: 2px solid #1900ff; 
    border-radius: 10px;
    background: #00ffc8; 
    font-size: 14px; 
    padding: 5px 20px; 
    margin: 10px 10px 10px 10px;
}